@font-face {
  font-family: "Roboto";
  src: url("/font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("/font/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
